/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* login style */
.c-login-bg-img{
  background-image: url('../images/welcome.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.c-login-div{ 
  padding: 42% 0;
}

.c-login-form-horizontal{
  background-color: #fff;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  padding: 50px 30px 50px;
  box-shadow: 12px 12px 0 0 rgba(0,0,0,0.3);
}

.c-login-form-horizontal .heading{
  color: #555;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0 0 50px 0;
}

.c-login-form-horizontal .form-group{
  margin: 0 auto 30px;
  position: relative;
}

.c-login-form-horizontal .form-group:nth-last-child(2){ margin-bottom: 20px; }

.c-login-form-horizontal .form-group:last-child{ margin: 0; }

.c-login-form-horizontal .form-group>i{
  color: #999;
  transform: translateY(-50%);
  position: absolute;
  left: 5px;
  top: 50%;
}

.c-login-form-horizontal .form-control{
  color: #7AB6B6;
  background-color: #fff;
  font-size: 17px;
  letter-spacing: 1px;
  height: 40px;
  padding: 5px 10px 2px 25px;
  box-shadow: 0 0 0 0 transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-radius: 0;
  display: inline-block;
}

.c-login-form-control::placeholder{
  color: rgba(0,0,0,0.2);
  font-size: 16px;
}

.c-login-form-horizontal .form-control:focus{
  border-bottom: 1px solid #7AB6B6;
  box-shadow: none;
}

.c-login-form-horizontal .btn{
  color: #7AB6B6;
  background-color: #EDF6F5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 50%;
  height: 45px;
  padding: 7px 30px;
  margin: 0 auto 25px;
  border: none;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}

.c-login-form-horizontal .btn:focus,
.c-login-form-horizontal .btn:hover{
  color: #fff;
  background-color: #7AB6B6;
}

.c-login-form-horizontal .btn:before,
.c-login-form-horizontal .btn:after{
  content: '';
  background-color: #7AB6B6;
  height: 50%;
  width: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.3s;
}

.c-login-form-horizontal .btn:after{
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
}

.c-login-form-horizontal .btn:hover:before,
.c-login-form-horizontal .btn:hover:after{
  height: 100%;
  width: 50%;
  opacity: 0;
}

.c-login-form-horizontal .create_account{
  color: #D6BC8B;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.c-login-form-horizontal .create_account:hover{
  color: #7AB6B6;
  text-decoration: none;
}

a{text-decoration:none}
